.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header-menu {
  font-size: 18px;
  line-height: 100%;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__menu-link_active {
  text-decoration: none;
}

.address {
  font-size: 18px;
  line-height: 24.3px;
  width: 240px;
  justify-self: end;
  font-style: normal;
}

.address__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cover {
  display: flex;
  flex-direction: column;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
}

.overlay {
  position: absolute;
  opacity: 60%;
  background-color: black;
  inset: 0;
  z-index: 1;
}

.cover__title {
  position: relative;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 30px;
  margin: 0;
  z-index: 2;
  margin-bottom: auto;
  margin-top: auto;
  line-height: 1.35;
}

.aligned-text {
  display: block;
}

.aligned-text__left {
  text-align: left;
}

.aligned-text__center {
  text-align: center;
}

.aligned-text__right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: grid;
  position: relative;
  font-size: 22px;
  font-weight: 400;
  color: white;
  z-index: 2;
  text-transform: uppercase;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.cover__description-text {
  word-spacing: 90%;
}

.bet-button {
  min-width: 256px;
  min-height: 51px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  justify-self: end;
}

.lots {
  padding: 0px 24px;
  padding-top: 180px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 0 27px 40px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  list-style: none;
}

.card__title {
  margin: 0;
  position: relative;
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  max-width: 254px;
  z-index: 2;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.card__text {
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  position: relative;
  z-index: 2;
}

.card-link {
  text-decoration: none;
}

.card {
  height: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  font-weight: 400;
  padding: 30px 0 0 40px;
}

.about {
  display: grid;
  grid-template-columns: 240px 2fr;
  gap: 72px;
  align-items: start;
  max-width: 1052px;
  margin: 0 auto;
  padding: 155px 0px 180px 47px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  display: block;
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 100px 0 100px 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: 400;
}

.about__text__first {
  width: 688px;
}

.about__text__second {
  width: 693px;
}

.footer {
  height: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 155px;
  padding: 0 50px;
}

.footer__menu {
  justify-items: center;
  font-size: 18px;
  line-height: 100%;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__menu-list {
  width: 163.9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list-item {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  width: 48px;
  height: 48px;
}
